# SEGMENTING AND CLUSTERING NEIGHBORHOODS IN TORONTO

In this notebook, we are going to segment and cluster neighborhood data in Toronto. First, we import required libraries.

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

We use Wikipedia to get the neighborhood data. First we check whether it is legal to scrape the given url. We use the Wikipedia page https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

response = requests.get(url)
print(response.status_code)

200

The output of 200 shows it is legal to scrape data from this Wikipedia page. So we scrape the data using the package BeautifulSoup. We need the tabular data from the Wikipedia page. On inspecting the Wikipedia page, we see the required data is under the < table > tag. So we find all the data under the < table > tag.

In [3]:
soup = BeautifulSoup(response.text, 'html.parser')

datatable = soup.find('table')
datatable

<table class="wikitable sortable">
<tbody><tr>
<th>Postal Code
</th>
<th>Borough
</th>
<th>Neighbourhood
</th></tr>
<tr>
<td>M1A
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M2A
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M3A
</td>
<td>North York
</td>
<td>Parkwoods
</td></tr>
<tr>
<td>M4A
</td>
<td>North York
</td>
<td>Victoria Village
</td></tr>
<tr>
<td>M5A
</td>
<td>Downtown Toronto
</td>
<td>Regent Park, Harbourfront
</td></tr>
<tr>
<td>M6A
</td>
<td>North York
</td>
<td>Lawrence Manor, Lawrence Heights
</td></tr>
<tr>
<td>M7A
</td>
<td>Downtown Toronto
</td>
<td>Queen's Park, Ontario Provincial Government
</td></tr>
<tr>
<td>M8A
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M9A
</td>
<td>Etobicoke
</td>
<td>Islington Avenue, Humber Valley Village
</td></tr>
<tr>
<td>M1B
</td>
<td>Scarborough
</td>
<td>Malvern, Rouge
</td></tr>
<tr>
<td>M2B
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M3B
</td>
<td>North York
</td>
<td>Don Mills
</td></tr>
<tr>
<td>M4B
</td>
<td>East York
</td>
<td>Parkview Hill, Woodbine Gardens
</td></tr>
<tr>
<td>M5B
</td>
<td>Downtown Toronto
</td>
<td>Garden District, Ryerson
</td></tr>
<tr>
<td>M6B
</td>
<td>North York
</td>
<td>Glencairn
</td></tr>
<tr>
<td>M7B
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M8B
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M9B
</td>
<td>Etobicoke
</td>
<td>West Deane Park, Princess Gardens, Martin Grove, Islington, Cloverdale
</td></tr>
<tr>
<td>M1C
</td>
<td>Scarborough
</td>
<td>Rouge Hill, Port Union, Highland Creek
</td></tr>
<tr>
<td>M2C
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M3C
</td>
<td>North York
</td>
<td>Don Mills
</td></tr>
<tr>
<td>M4C
</td>
<td>East York
</td>
<td>Woodbine Heights
</td></tr>
<tr>
<td>M5C
</td>
<td>Downtown Toronto
</td>
<td>St. James Town
</td></tr>
<tr>
<td>M6C
</td>
<td>York
</td>
<td>Humewood-Cedarvale
</td></tr>
<tr>
<td>M7C
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M8C
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M9C
</td>
<td>Etobicoke
</td>
<td>Eringate, Bloordale Gardens, Old Burnhamthorpe, Markland Wood
</td></tr>
<tr>
<td>M1E
</td>
<td>Scarborough
</td>
<td>Guildwood, Morningside, West Hill
</td></tr>
<tr>
<td>M2E
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M3E
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M4E
</td>
<td>East Toronto
</td>
<td>The Beaches
</td></tr>
<tr>
<td>M5E
</td>
<td>Downtown Toronto
</td>
<td>Berczy Park
</td></tr>
<tr>
<td>M6E
</td>
<td>York
</td>
<td>Caledonia-Fairbanks
</td></tr>
<tr>
<td>M7E
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M8E
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M9E
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M1G
</td>
<td>Scarborough
</td>
<td>Woburn
</td></tr>
<tr>
<td>M2G
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M3G
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M4G
</td>
<td>East York
</td>
<td>Leaside
</td></tr>
<tr>
<td>M5G
</td>
<td>Downtown Toronto
</td>
<td>Central Bay Street
</td></tr>
<tr>
<td>M6G
</td>
<td>Downtown Toronto
</td>
<td>Christie
</td></tr>
<tr>
<td>M7G
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M8G
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M9G
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M1H
</td>
<td>Scarborough
</td>
<td>Cedarbrae
</td></tr>
<tr>
<td>M2H
</td>
<td>North York
</td>
<td>Hillcrest Village
</td></tr>
<tr>
<td>M3H
</td>
<td>North York
</td>
<td>Bathurst Manor, Wilson Heights, Downsview North
</td></tr>
<tr>
<td>M4H
</td>
<td>East York
</td>
<td>Thorncliffe Park
</td></tr>
<tr>
<td>M5H
</td>
<td>Downtown Toronto
</td>
<td>Richmond, Adelaide, King
</td></tr>
<tr>
<td>M6H
</td>
<td>West Toronto
</td>
<td>Dufferin, Dovercourt Village
</td></tr>
<tr>
<td>M7H
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M8H
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M9H
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M1J
</td>
<td>Scarborough
</td>
<td>Scarborough Village
</td></tr>
<tr>
<td>M2J
</td>
<td>North York
</td>
<td>Fairview, Henry Farm, Oriole
</td></tr>
<tr>
<td>M3J
</td>
<td>North York
</td>
<td>Northwood Park, York University
</td></tr>
<tr>
<td>M4J
</td>
<td>East York
</td>
<td>East Toronto, Broadview North (Old East York)
</td></tr>
<tr>
<td>M5J
</td>
<td>Downtown Toronto
</td>
<td>Harbourfront East, Union Station, Toronto Islands
</td></tr>
<tr>
<td>M6J
</td>
<td>West Toronto
</td>
<td>Little Portugal, Trinity
</td></tr>
<tr>
<td>M7J
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M8J
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M9J
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M1K
</td>
<td>Scarborough
</td>
<td>Kennedy Park, Ionview, East Birchmount Park
</td></tr>
<tr>
<td>M2K
</td>
<td>North York
</td>
<td>Bayview Village
</td></tr>
<tr>
<td>M3K
</td>
<td>North York
</td>
<td>Downsview
</td></tr>
<tr>
<td>M4K
</td>
<td>East Toronto
</td>
<td>The Danforth West, Riverdale
</td></tr>
<tr>
<td>M5K
</td>
<td>Downtown Toronto
</td>
<td>Toronto Dominion Centre, Design Exchange
</td></tr>
<tr>
<td>M6K
</td>
<td>West Toronto
</td>
<td>Brockton, Parkdale Village, Exhibition Place
</td></tr>
<tr>
<td>M7K
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M8K
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M9K
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M1L
</td>
<td>Scarborough
</td>
<td>Golden Mile, Clairlea, Oakridge
</td></tr>
<tr>
<td>M2L
</td>
<td>North York
</td>
<td>York Mills, Silver Hills
</td></tr>
<tr>
<td>M3L
</td>
<td>North York
</td>
<td>Downsview
</td></tr>
<tr>
<td>M4L
</td>
<td>East Toronto
</td>
<td>India Bazaar, The Beaches West
</td></tr>
<tr>
<td>M5L
</td>
<td>Downtown Toronto
</td>
<td>Commerce Court, Victoria Hotel
</td></tr>
<tr>
<td>M6L
</td>
<td>North York
</td>
<td>North Park, Maple Leaf Park, Upwood Park
</td></tr>
<tr>
<td>M7L
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M8L
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M9L
</td>
<td>North York
</td>
<td>Humber Summit
</td></tr>
<tr>
<td>M1M
</td>
<td>Scarborough
</td>
<td>Cliffside, Cliffcrest, Scarborough Village West
</td></tr>
<tr>
<td>M2M
</td>
<td>North York
</td>
<td>Willowdale, Newtonbrook
</td></tr>
<tr>
<td>M3M
</td>
<td>North York
</td>
<td>Downsview
</td></tr>
<tr>
<td>M4M
</td>
<td>East Toronto
</td>
<td>Studio District
</td></tr>
<tr>
<td>M5M
</td>
<td>North York
</td>
<td>Bedford Park, Lawrence Manor East
</td></tr>
<tr>
<td>M6M
</td>
<td>York
</td>
<td>Del Ray, Mount Dennis, Keelsdale and Silverthorn
</td></tr>
<tr>
<td>M7M
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M8M
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M9M
</td>
<td>North York
</td>
<td>Humberlea, Emery
</td></tr>
<tr>
<td>M1N
</td>
<td>Scarborough
</td>
<td>Birch Cliff, Cliffside West
</td></tr>
<tr>
<td>M2N
</td>
<td>North York
</td>
<td>Willowdale, Willowdale East
</td></tr>
<tr>
<td>M3N
</td>
<td>North York
</td>
<td>Downsview
</td></tr>
<tr>
<td>M4N
</td>
<td>Central Toronto
</td>
<td>Lawrence Park
</td></tr>
<tr>
<td>M5N
</td>
<td>Central Toronto
</td>
<td>Roselawn
</td></tr>
<tr>
<td>M6N
</td>
<td>York
</td>
<td>Runnymede, The Junction North
</td></tr>
<tr>
<td>M7N
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M8N
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M9N
</td>
<td>York
</td>
<td>Weston
</td></tr>
<tr>
<td>M1P
</td>
<td>Scarborough
</td>
<td>Dorset Park, Wexford Heights, Scarborough Town Centre
</td></tr>
<tr>
<td>M2P
</td>
<td>North York
</td>
<td>York Mills West
</td></tr>
<tr>
<td>M3P
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M4P
</td>
<td>Central Toronto
</td>
<td>Davisville North
</td></tr>
<tr>
<td>M5P
</td>
<td>Central Toronto
</td>
<td>Forest Hill North &amp; West, Forest Hill Road Park
</td></tr>
<tr>
<td>M6P
</td>
<td>West Toronto
</td>
<td>High Park, The Junction South
</td></tr>
<tr>
<td>M7P
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M8P
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M9P
</td>
<td>Etobicoke
</td>
<td>Westmount
</td></tr>
<tr>
<td>M1R
</td>
<td>Scarborough
</td>
<td>Wexford, Maryvale
</td></tr>
<tr>
<td>M2R
</td>
<td>North York
</td>
<td>Willowdale, Willowdale West
</td></tr>
<tr>
<td>M3R
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M4R
</td>
<td>Central Toronto
</td>
<td>North Toronto West,  Lawrence Park
</td></tr>
<tr>
<td>M5R
</td>
<td>Central Toronto
</td>
<td>The Annex, North Midtown, Yorkville
</td></tr>
<tr>
<td>M6R
</td>
<td>West Toronto
</td>
<td>Parkdale, Roncesvalles
</td></tr>
<tr>
<td>M7R
</td>
<td>Mississauga
</td>
<td>Canada Post Gateway Processing Centre
</td></tr>
<tr>
<td>M8R
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M9R
</td>
<td>Etobicoke
</td>
<td>Kingsview Village, St. Phillips, Martin Grove Gardens, Richview Gardens
</td></tr>
<tr>
<td>M1S
</td>
<td>Scarborough
</td>
<td>Agincourt
</td></tr>
<tr>
<td>M2S
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M3S
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M4S
</td>
<td>Central Toronto
</td>
<td>Davisville
</td></tr>
<tr>
<td>M5S
</td>
<td>Downtown Toronto
</td>
<td>University of Toronto, Harbord
</td></tr>
<tr>
<td>M6S
</td>
<td>West Toronto
</td>
<td>Runnymede, Swansea
</td></tr>
<tr>
<td>M7S
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M8S
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M9S
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M1T
</td>
<td>Scarborough
</td>
<td>Clarks Corners, Tam O'Shanter, Sullivan
</td></tr>
<tr>
<td>M2T
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M3T
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M4T
</td>
<td>Central Toronto
</td>
<td>Moore Park, Summerhill East
</td></tr>
<tr>
<td>M5T
</td>
<td>Downtown Toronto
</td>
<td>Kensington Market, Chinatown, Grange Park
</td></tr>
<tr>
<td>M6T
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M7T
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M8T
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M9T
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M1V
</td>
<td>Scarborough
</td>
<td>Milliken, Agincourt North, Steeles East, L'Amoreaux East
</td></tr>
<tr>
<td>M2V
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M3V
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M4V
</td>
<td>Central Toronto
</td>
<td>Summerhill West, Rathnelly, South Hill, Forest Hill SE, Deer Park
</td></tr>
<tr>
<td>M5V
</td>
<td>Downtown Toronto
</td>
<td>CN Tower, King and Spadina, Railway Lands, Harbourfront West, Bathurst Quay, South Niagara, Island airport
</td></tr>
<tr>
<td>M6V
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M7V
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M8V
</td>
<td>Etobicoke
</td>
<td>New Toronto, Mimico South, Humber Bay Shores
</td></tr>
<tr>
<td>M9V
</td>
<td>Etobicoke
</td>
<td>South Steeles, Silverstone, Humbergate, Jamestown, Mount Olive, Beaumond Heights, Thistletown, Albion Gardens
</td></tr>
<tr>
<td>M1W
</td>
<td>Scarborough
</td>
<td>Steeles West, L'Amoreaux West
</td></tr>
<tr>
<td>M2W
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M3W
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M4W
</td>
<td>Downtown Toronto
</td>
<td>Rosedale
</td></tr>
<tr>
<td>M5W
</td>
<td>Downtown Toronto
</td>
<td>Stn A PO Boxes
</td></tr>
<tr>
<td>M6W
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M7W
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M8W
</td>
<td>Etobicoke
</td>
<td>Alderwood, Long Branch
</td></tr>
<tr>
<td>M9W
</td>
<td>Etobicoke
</td>
<td>Northwest, West Humber - Clairville
</td></tr>
<tr>
<td>M1X
</td>
<td>Scarborough
</td>
<td>Upper Rouge
</td></tr>
<tr>
<td>M2X
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M3X
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M4X
</td>
<td>Downtown Toronto
</td>
<td>St. James Town, Cabbagetown
</td></tr>
<tr>
<td>M5X
</td>
<td>Downtown Toronto
</td>
<td>First Canadian Place, Underground city
</td></tr>
<tr>
<td>M6X
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M7X
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M8X
</td>
<td>Etobicoke
</td>
<td>The Kingsway, Montgomery Road, Old Mill North
</td></tr>
<tr>
<td>M9X
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M1Y
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M2Y
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M3Y
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M4Y
</td>
<td>Downtown Toronto
</td>
<td>Church and Wellesley
</td></tr>
<tr>
<td>M5Y
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M6Y
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M7Y
</td>
<td>East Toronto
</td>
<td>Business reply mail Processing Centre, South Central Letter Processing Plant Toronto
</td></tr>
<tr>
<td>M8Y
</td>
<td>Etobicoke
</td>
<td>Old Mill South, King's Mill Park, Sunnylea, Humber Bay, Mimico NE, The Queensway East, Royal York South East, Kingsway Park South East
</td></tr>
<tr>
<td>M9Y
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M1Z
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M2Z
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M3Z
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M4Z
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M5Z
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M6Z
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M7Z
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>
<tr>
<td>M8Z
</td>
<td>Etobicoke
</td>
<td>Mimico NW, The Queensway West, South of Bloor, Kingsway Park South West, Royal York South West
</td></tr>
<tr>
<td>M9Z
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr></tbody></table>

We see an html file. Now, we need to read this html file into a pandas dataframe. We use read_html function of pandas to complete this task. This gives us the list of dataframes which has only one element. So, we extract that element.

In [4]:
df = pd.read_html(str(datatable))
df = pd.DataFrame(df[0])
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Now, we rename the columns as required just for convenience.

In [5]:
df.columns = ['PostalCode', 'Borough', 'Neighborhood']
df.head()

  PostalCode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

We dont need data with not assigned Borough. So we filter only those data that has a defined Borough.

In [6]:
rowsremove = df.Borough == 'Not assigned'
df = df[~rowsremove]
df.head()

  PostalCode           Borough                                 Neighborhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Now, we see how many rows have a defined Borough and not assigned Neighborhood and we find there are no such rows. So this task is already accomplished.

In [7]:
naneigh = df.Neighborhood == 'Not assigned'
naneigh.sum()

0

Now, we check the shape of the dataframe.

In [8]:
df.shape

(103, 3)

We now need the latitude and longitude coordinates for the given postal codes for further analysis. We have the csv file with all the latitude and longitude information that we need. So we use pandas read_csv function and store it in a dataframe names latlng_df.

In [9]:
latlng = r'C:\Users\Administrator\Documents\DS\Geospatial_Coordinates.csv'

latlng_df = pd.read_csv(latlng)
latlng_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Rename the columns for convenience and merge this latlng_df with our original dataframe. We use merge function for this task. The two dataframes are merged by matching the PostalCode column as indicated by the parameter 'on'.

In [10]:
latlng_df.columns = ['PostalCode', 'Latitude', 'Longitude']
df = pd.merge(df, latlng_df, on = 'PostalCode', sort = True)
df.head(10)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"Kennedy Park, Ionview, East Birchmount Park",43.727929,-79.262029
7,M1L,Scarborough,"Golden Mile, Clairlea, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffside, Cliffcrest, Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848

In [11]:
print("There are {} Boroughs and {} Neighborhoods in the dataset".format(len(df['Borough'].unique()), df.shape[0]))

There are 10 Boroughs and 103 Neighborhoods in the dataset

There are 10 Boroughs in total. Now we see how many neighborhoods exist in each Borough and analyze the Borough with the highest number of neighborhoods.

In [12]:
df['Borough'].value_counts()

North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
York                 5
East Toronto         5
East York            5
Mississauga          1
Name: Borough, dtype: int64

Since North York spans the most number of PostalCodes, let us analyze data from North York.

In [13]:
northyork_df = df[df['Borough'] == 'North York'].reset_index(drop = True)
northyork_df.head()

  PostalCode     Borough                  Neighborhood   Latitude  Longitude
0        M2H  North York             Hillcrest Village  43.803762 -79.363452
1        M2J  North York  Fairview, Henry Farm, Oriole  43.778517 -79.346556
2        M2K  North York               Bayview Village  43.786947 -79.385975
3        M2L  North York      York Mills, Silver Hills  43.757490 -79.374714
4        M2M  North York       Willowdale, Newtonbrook  43.789053 -79.408493

We have the location data according to the Postal Code. So we will use Postal Code for identification of a region. So we drop Borough and Neighborhood as we don't need them.

In [14]:
northyork_df.drop(['Borough', 'Neighborhood'], axis = 1, inplace = True)
northyork_df.head()

  PostalCode   Latitude  Longitude
0        M2H  43.803762 -79.363452
1        M2J  43.778517 -79.346556
2        M2K  43.786947 -79.385975
3        M2L  43.757490 -79.374714
4        M2M  43.789053 -79.408493

First, we will get the location of the chosen Borough using geopy package and see it on the map using folium.

In [15]:
from geopy.geocoders import Nominatim
import folium

address = 'North York, Toronto'
geolocator = Nominatim(user_agent = 'my_explorer')
location = geolocator.geocode(address)
ny_latitude = location.latitude
ny_longitude = location.longitude

In [16]:
ny_map = folium.Map(location = [ny_latitude, ny_longitude], zoom_start = 11)

for lat, lng, label in zip(northyork_df['Latitude'], northyork_df['Longitude'], northyork_df['PostalCode']):
    folium.CircleMarker(
        [lat,lng],
        popup = label,
        radius = 3,
        color = 'blue',
        fill = True, 
        fill_opacity = 0.6,
    ).add_to(ny_map)
    
ny_map

Let's get the data about venues nearby using foursquare API.

In [17]:
CLIENT_ID = 'KIXUSBGSQRTA3NZJKPX0ENV3MX0JBYX4VMXPQTO0G3EOSZEQ' 
CLIENT_SECRET = '1U4D11MNF0KVQJIFXMDPIR52KMPRB1WMPFKG4UGL3XK0WHDA' 
VERSION = '20180605' 
LIMIT = 100
RADIUS = 500

In [18]:
import requests
import json

latitude = northyork_df.loc[0,'Latitude']
longitude = northyork_df.loc[0, 'Longitude']
print('Latitude and Longitude are {} and {}'.format(latitude, longitude))

url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(CLIENT_ID,
                                                                                                                            CLIENT_SECRET,
                                                                                                                            VERSION,
                                                                                                                            latitude,
                                                                                                                            longitude,
                                                                                                                            RADIUS,
                                                                                                                            LIMIT
                                                                                                                           )

results = requests.get(url).json()
results

Latitude and Longitude are 43.8037622 and -79.3634517

{'meta': {'code': 200, 'requestId': '5fda897e20255f5eb0eb228e'},
 'response': {'headerLocation': 'Toronto',
  'headerFullLocation': 'Toronto',
  'headerLocationGranularity': 'city',
  'totalResults': 5,
  'suggestedBounds': {'ne': {'lat': 43.808262204500004,
    'lng': -79.3572281853783},
   'sw': {'lat': 43.7992621955, 'lng': -79.3696752146217}},
  'groups': [{'type': 'Recommended Places',
    'name': 'recommended',
    'items': [{'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4ad9dce6f964a520651b21e3',
       'name': "Eagle's Nest Golf Club",
       'location': {'address': '10000 Dufferin Rd',
        'lat': 43.805454826002794,
        'lng': -79.36418592243415,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.805454826002794,
          'lng': -79.36418592243415}],
        'distance': 197,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['10000 Dufferin Rd', 'Toronto ON', 'Canada']},
       'categories': [{'id': '4bf58dd8d48988d1e6941735',
         'name': 'Golf Course',
         'pluralName': 'Golf Courses',
         'shortName': 'Golf Course',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/golfcourse_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4ad9dce6f964a520651b21e3-0'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4e1fad69fa761d67106a9989',
       'name': 'AY Jackson Pool',
       'location': {'address': '50 Francine drive',
        'crossStreet': 'Leslie',
        'lat': 43.804515413699576,
        'lng': -79.36613821581467,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.804515413699576,
          'lng': -79.36613821581467}],
        'distance': 231,
        'cc': 'CA',
        'city': 'North York',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['50 Francine drive (Leslie)',
         'North York ON',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d15e941735',
         'name': 'Pool',
         'pluralName': 'Pools',
         'shortName': 'Pool',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/pool_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4e1fad69fa761d67106a9989-1'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '5331a799498e3bfbae4a5a04',
       'name': 'Villa Madina',
       'location': {'lat': 43.80168506227364,
        'lng': -79.36393844569061,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.80168506227364,
          'lng': -79.36393844569061}],
        'distance': 234,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['Toronto ON', 'Canada']},
       'categories': [{'id': '4bf58dd8d48988d1c0941735',
         'name': 'Mediterranean Restaurant',
         'pluralName': 'Mediterranean Restaurants',
         'shortName': 'Mediterranean',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/mediterranean_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-5331a799498e3bfbae4a5a04-2'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4c64ca1b772bef3bfadbc2aa',
       'name': 'Duncan Creek Park',
       'location': {'address': 'Aspenwood Drive',
        'crossStreet': 'btwn Don Mills & Leslie',
        'lat': 43.80553928816196,
        'lng': -79.36069456944033,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.80553928816196,
          'lng': -79.36069456944033}],
        'distance': 296,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['Aspenwood Drive (btwn Don Mills & Leslie)',
         'Toronto ON',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d1e5941735',
         'name': 'Dog Run',
         'pluralName': 'Dog Runs',
         'shortName': 'Dog Run',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/dogrun_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4c64ca1b772bef3bfadbc2aa-3'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '518815ab498e99d0bb98ac96',
       'name': 'A.Y. Jackson Secondary School Track',
       'location': {'address': '50 Francine Dr.',
        'lat': 43.80506848683886,
        'lng': -79.36667715153746,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.80506848683886,
          'lng': -79.36667715153746}],
        'distance': 297,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['50 Francine Dr.', 'Toronto ON', 'Canada']},
       'categories': [{'id': '4f4528bc4b90abdf24c9de85',
         'name': 'Athletics & Sports',
         'pluralName': 'Athletics & Sports',
         'shortName': 'Athletics & Sports',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/sports_outdoors_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-518815ab498e99d0bb98ac96-4'}]}]}}

In [19]:
def get_category(temp):
    try:
        category = temp['categories']
    except:
        category = temp['venue.categories']
        
    return category[0]['name']

From the JSON file, we will now form a pandas dataframe.

In [20]:
from pandas.io.json import json_normalize

venues = results['response']['groups'][0]['items']
venues_df = json_normalize(venues)

col = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
venues_df = venues_df.loc[:, col]
venues_df['venue.categories'] = venues_df.apply(get_category, axis = 1)

venues_df.columns = ['Name', 'Category', 'Latitude', 'Longitude']

venues_df.head()

<ipython-input-20-e614543c0932>:4: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  venues_df = json_normalize(venues)

,Name,Category,Latitude,Longitude
0,Eagle's Nest Golf Club,Golf Course,43.805455,-79.364186
1,AY Jackson Pool,Pool,43.804515,-79.366138
2,Villa Madina,Mediterranean Restaurant,43.801685,-79.363938
3,Duncan Creek Park,Dog Run,43.805539,-79.360695
4,A.Y. Jackson Secondary School Track,Athletics & Sports,43.805068,-79.366677

Now, let us get the data for all the postal code present in Borough North York.

In [21]:
def getvenues(names, latitude, longitude, radius = 500):
    v_list = []
    for name, lat, lng in zip(names, latitude, longitude):
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(CLIENT_ID,
                                                                                                                            CLIENT_SECRET,
                                                                                                                            VERSION,
                                                                                                                            lat,
                                                                                                                            lng,
                                                                                                                            radius,
                                                                                                                            LIMIT
                                                                                                                           )
        results = requests.get(url).json()['response']['groups'][0]['items']
        v_list.append([(
            name,
            v['venue']['name'], 
            v['venue']['categories'][0]['name'],
            v['venue']['location']['lat'], 
            v['venue']['location']['lng']
        ) for v in results]) 
        
    final_df = pd.DataFrame([items for ven in v_list for items in ven])
    final_df.columns = ['PostalCode', 'Venue', 'Category', 'Latitude', 'Longitude']
    
    return(final_df)

In [22]:
data = getvenues(names = northyork_df['PostalCode'], latitude = northyork_df['Latitude'], longitude = northyork_df['Longitude'])
data.head()

,PostalCode,Venue,Category,Latitude,Longitude
0,M2H,Eagle's Nest Golf Club,Golf Course,43.805455,-79.364186
1,M2H,AY Jackson Pool,Pool,43.804515,-79.366138
2,M2H,Villa Madina,Mediterranean Restaurant,43.801685,-79.363938
3,M2H,Duncan Creek Park,Dog Run,43.805539,-79.360695
4,M2H,A.Y. Jackson Secondary School Track,Athletics & Sports,43.805068,-79.366677

In [23]:
onehot = pd.get_dummies(data['Category'], prefix = "", prefix_sep = "")
onehot = pd.concat([data['PostalCode'], onehot], axis = 1)
onehot.head()

,PostalCode,Accessories Store,Airport,American Restaurant,Art Gallery,Arts & Crafts Store,Asian Restaurant,Athletics & Sports,Bakery,Bank,...,Supermarket,Supplement Shop,Sushi Restaurant,Tea Room,Thai Restaurant,Theater,Toy / Game Store,Video Game Store,Vietnamese Restaurant,Women's Store
0,M2H,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,M2H,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,M2H,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,M2H,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,M2H,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
mean_df = onehot.groupby('PostalCode').mean().reset_index()
mean_df.head()

,PostalCode,Accessories Store,Airport,American Restaurant,Art Gallery,Arts & Crafts Store,Asian Restaurant,Athletics & Sports,Bakery,Bank,...,Supermarket,Supplement Shop,Sushi Restaurant,Tea Room,Thai Restaurant,Theater,Toy / Game Store,Video Game Store,Vietnamese Restaurant,Women's Store
0,M2H,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.2,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
1,M2J,0.0,0.0,0.014286,0.0,0.000000,0.014286,0.0,0.028571,0.028571,...,0.0,0.014286,0.000000,0.014286,0.0,0.014286,0.014286,0.014286,0.000000,0.042857
2,M2K,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.250000,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
3,M2L,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
4,M2N,0.0,0.0,0.000000,0.0,0.030303,0.000000,0.0,0.000000,0.000000,...,0.0,0.000000,0.060606,0.000000,0.0,0.000000,0.000000,0.000000,0.030303,0.000000

Now, we have our data ready for clustering. So we now import KMeans from sklearn package and cluster the Postal Codes.

In [25]:
from sklearn.cluster import KMeans

k = 5

cluster = mean_df.drop('PostalCode', axis = 1)

clust = KMeans(n_clusters = k, random_state = 0)
clust.fit(cluster)

clust.labels_[0:10]

array([0, 0, 0, 1, 0, 3, 0, 2, 0, 0])

Now we form a dataframe containing postal codes, their cluster label and the top 5 common venues in that postal code.

In [26]:
def sort(df, top):
    to_sort = df.iloc[1:]
    res = to_sort.sort_values(ascending = False)
    
    return res.index.values[0:top]

In [27]:
top = 5

columns = ['PostalCode',
           'ClusterLabels',
           '1st Most Common Venue',
           '2nd Most Common Venue',
           '3rd Most Common Venue',
           '4th Most Common Venue',
           '5th Most Common Venue'
          ]

final = pd.DataFrame(columns = columns)
final['PostalCode'] = mean_df['PostalCode']
final['ClusterLabels'] = clust.labels_

for i in np.arange(mean_df.shape[0]):
    final.iloc[i, 2:] = sort(onehot.iloc[i, :], top)
    
final.head()

,PostalCode,ClusterLabels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
0,M2H,0,Golf Course,Clothing Store,Coffee Shop,Comfort Food Restaurant,Construction & Landscaping
1,M2J,0,Pool,Women's Store,Clothing Store,Comfort Food Restaurant,Construction & Landscaping
2,M2K,0,Mediterranean Restaurant,Women's Store,Golf Course,Comfort Food Restaurant,Construction & Landscaping
3,M2L,1,Dog Run,Women's Store,Comfort Food Restaurant,Construction & Landscaping,Convenience Store
4,M2N,0,Athletics & Sports,Women's Store,Dog Run,Comfort Food Restaurant,Construction & Landscaping

We now add the location data to the dataframe so we can visualize the clustered data.

In [28]:
final = northyork_df.merge(final, on = 'PostalCode')
final.head()

,PostalCode,Latitude,Longitude,ClusterLabels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
0,M2H,43.803762,-79.363452,0,Golf Course,Clothing Store,Coffee Shop,Comfort Food Restaurant,Construction & Landscaping
1,M2J,43.778517,-79.346556,0,Pool,Women's Store,Clothing Store,Comfort Food Restaurant,Construction & Landscaping
2,M2K,43.786947,-79.385975,0,Mediterranean Restaurant,Women's Store,Golf Course,Comfort Food Restaurant,Construction & Landscaping
3,M2L,43.757490,-79.374714,1,Dog Run,Women's Store,Comfort Food Restaurant,Construction & Landscaping,Convenience Store
4,M2N,43.770120,-79.408493,0,Athletics & Sports,Women's Store,Dog Run,Comfort Food Restaurant,Construction & Landscaping

Now, we define color scheme for the labels and it as a column in the final dataframe. This again helps us in visualizing clustered data.

In [29]:
def getcolor(df):
    colors = []
    for i in range(len(df)):
        if df[i] == 0:
            colors.append('blue')
        elif df[i] == 1:
            colors.append('red')
        elif df[i] == 2:
            colors.append('green')
        elif df[i] == 3:
            colors.append('yellow')
        elif df[i] == 4:
            colors.append('magenta')
            
    return colors

In [30]:
colors = getcolor(final['ClusterLabels'])
final.insert(4, 'ClusterColor', colors)
final.head()

,PostalCode,Latitude,Longitude,ClusterLabels,ClusterColor,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
0,M2H,43.803762,-79.363452,0,blue,Golf Course,Clothing Store,Coffee Shop,Comfort Food Restaurant,Construction & Landscaping
1,M2J,43.778517,-79.346556,0,blue,Pool,Women's Store,Clothing Store,Comfort Food Restaurant,Construction & Landscaping
2,M2K,43.786947,-79.385975,0,blue,Mediterranean Restaurant,Women's Store,Golf Course,Comfort Food Restaurant,Construction & Landscaping
3,M2L,43.757490,-79.374714,1,red,Dog Run,Women's Store,Comfort Food Restaurant,Construction & Landscaping,Convenience Store
4,M2N,43.770120,-79.408493,0,blue,Athletics & Sports,Women's Store,Dog Run,Comfort Food Restaurant,Construction & Landscaping

Now, we visualize the clustered data using folium.

In [31]:
cluster_map = folium.Map(location  = [ny_latitude, ny_longitude], zoom_start = 11)

for lat, lng, pc, clust, col in zip(final['Latitude'], final['Longitude'], final['PostalCode'], final['ClusterLabels'], final['ClusterColor']):
    label = folium.Popup(pc + 'Cluster' + str(clust))
    folium.CircleMarker(
        [lat, lng],
        radius = 3,
        color = col,
        fill = True,
        fill_opacity = 0.6
    ).add_to(cluster_map)
    
cluster_map

In [32]:
cluster0 = final.loc[final['ClusterLabels'] == 0, final.columns[[0] + list(range(5, final.shape[1]))]]
cluster0.head()

,PostalCode,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
0,M2H,Golf Course,Clothing Store,Coffee Shop,Comfort Food Restaurant,Construction & Landscaping
1,M2J,Pool,Women's Store,Clothing Store,Comfort Food Restaurant,Construction & Landscaping
2,M2K,Mediterranean Restaurant,Women's Store,Golf Course,Comfort Food Restaurant,Construction & Landscaping
4,M2N,Athletics & Sports,Women's Store,Dog Run,Comfort Food Restaurant,Construction & Landscaping
6,M2R,Toy / Game Store,Women's Store,Dog Run,Comfort Food Restaurant,Construction & Landscaping

In [33]:
cluster1 = final.loc[final['ClusterLabels'] == 1, final.columns[[0] + list(range(5, final.shape[1]))]]
cluster1.head()

,PostalCode,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
3,M2L,Dog Run,Women's Store,Comfort Food Restaurant,Construction & Landscaping,Convenience Store

In [34]:
cluster2 = final.loc[final['ClusterLabels'] == 2, final.columns[[0] + list(range(5, final.shape[1]))]]
cluster2.head()

,PostalCode,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
7,M3A,American Restaurant,Women's Store,Dog Run,Comfort Food Restaurant,Construction & Landscaping
12,M3K,Coffee Shop,Dog Run,Comfort Food Restaurant,Construction & Landscaping,Convenience Store
19,M6B,Theater,Women's Store,Dog Run,Comfort Food Restaurant,Construction & Landscaping
20,M6L,Clothing Store,Women's Store,Dog Run,Comfort Food Restaurant,Construction & Landscaping

In [35]:
cluster3 = final.loc[final['ClusterLabels'] == 3, final.columns[[0] + list(range(5, final.shape[1]))]]
cluster3.head()

,PostalCode,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
5,M2P,Shopping Mall,Clothing Store,Comfort Food Restaurant,Construction & Landscaping,Convenience Store

In [36]:
cluster4 = final.loc[final['ClusterLabels'] == 4, final.columns[[0] + list(range(5, final.shape[1]))]]
cluster4.head()

,PostalCode,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
22,M9M,Juice Bar,Golf Course,Comfort Food Restaurant,Construction & Landscaping,Convenience Store

Since, there arent many elements in one cluster, it is hard to draw conclusions on it. But it is visible that cluster0 mostly contains sports related venues as the most common venue. This analysis can also be carried for all the Boroughs together in a similar manner.